.jumbotron {
  
  // background-image: url('../images/couple-watching-baby-ultrasound-scan-on-a-tablet-pc-picture-id484825442.jpg');
  // color: white;
  
  h1 {
    
    font-size: 50px;
    color: $brand-secondary;
    
  }
  
  p {
    
    font-size: 28px;
  }
  
}