.under-jumbotron {
  
  margin-top: -4em;
}


#prices {
  
  margin-top: 15px;
  
}

.well {
  
  border: 1px solid #efefef;
  
}

#main {
  

  
}

/* Selling Points Section */

#selling-points {
  
  margin-top: -4em;
  text-align: center;
  
  h3, h4 {
  
    color: $brand-secondary;
    font-size: 31px;
    font-weight: 700;
  
  }

  .well {
  
    min-height: 300px;
      
      p {
        
          font-size: 19px;
        
        }
   
  
  }
  
  .panel-body {
    
    text-align: left;
    
    p {
      
      font-size: 18px;
    }
    
    h4 {
      
      font-size: 22px;
      color: $brand-secondary;
    }
    
    ol, ul {
      
      font-size: 18px;

    }
    
    span {
      
      color: $brand-success;
    }
    
    // FAQS

  .FAQs {

    .faq {

      margin-bottom: 0.5em;
    }

    .faq-title {

      text-align: center;
      font-size: 22px;

    }

    .faq-body {

      text-align: justify;
      padding: 1em;

    }
  }
    
  }
  
  @media screen and (max-width: 700px){
      
      .well {
        
        min-height: auto;
        
      }
      
      }
  
}