body {
  
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  
}


h1.h1-cta {
  
  font-size: 25px;
  margin-top: 0px;
  color: $brand-primary;
  
}

h2.h2-cta {
  
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: $brand-primary;
  margin: 5px 0;
  
}

blockquote#pro-quote {
  
  padding: 4.5px 23px;
  margin: 0px 0 10px;
  font-size: 17px;
  border-left: 5px solid darken(#17479E, 10%);
  background-color: #17479E;
  color: white;
  
}

blockquote footer, blockquote small, blockquote .small {
  
  color: white;
  
}

// Frontpage grey text headers to indicate sections

h2.subtle {

  text-align: center;
  font-size: 25px;
  color: #a1a2a2;
  margin: 1em 0;

}

h3.subtle {

  text-align: center;
  font-size: 20px;
  color: #a1a2a2;
  margin: 1em 0;

}

h4.subtle {

  text-align: center;
  font-size: 18px;
  color: #a1a2a2;
  margin: 1em 0;

}

// Step indicators in the H4 Area. Changes from side to down arrow on mobile

.glyphicon-fertility-progress {
  
  float: right;
  
}

.glyphicon-fertility-progress:before {
  
  content: "\e258";
  
  @media screen and (max-width: $screen-sm){
  
  content: "\e259";
  
  }
  
}